/* nabu-3: Main theme created 2016-09-28 17:30 version 3.0.0 Surface */
/* https://github.com/altercation/solarized
base03:    #002b36
base02:    #073642
base01:    #586e75
base00:    #657b83
base0:     #839496
base1:     #93a1a1
base2:     #eee8d5
base3:     #fdf6e3
yellow:    #b58900
orange:    #cb4b16 (S 89%) #c9c0bd (S 6%)
red:       #dc322f
magenta:   #d33682
violet:    #6c71c4
blue:      #268bd2 (S 82%) #30acff (S 100%)
cyan:      #2aa198
green:     #859900 (V 60%) #a8bf00 (V 75%)
*/

body {
    font-family: 'Droid Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #586e75;
    background-color: #fdf6e3;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.title, .navbar-brand {
    font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 767px) {
    h1 {
        font-size: 24px;
    }
}

b, strong {
    color: #859900;
}

label {
    color: #586e75;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.nabu3 {
    font-family: 'Baloo', sans-serif;
    color: #268bd2;
    font-size: 120%;
}

.btn-default,
.form-control {
    border-color: #93a1a1;
    color: #586e75;
}

.btn-info,
.btn-info:active,
.btn-info:focus {
    background-color: #268bd2;
    border: 1px solid #268bd2;
    color: #fdf6e3;
}

.btn-info:hover {
    border-color: #30acff;
    background-color: #30acff;
}

.btn-info:active:hover {
    border-color: #1e6ca0;
    background-color: #1e6ca0;
}

.btn-success,
.btn-success:active,
.btn-success:focus {
    border-color: #859900;
    background-color: #859900;
}

.btn-success:hover {
    border-color: #a8bf00;
    background-color: #a8bf00;
}

.btn-success:active:hover {
    border-color: #657200;
    background-color: #657200;
}

.btn-danger,
.btn-danger:active,
.btn-danger:focus {
    color: #fdf6e3;
    border-color: #dc322f;
    background-color: #dc322f;
}

.btn-default,
.btn-default:active,
.btn-default:focus {
    /*border-color: #fdf6e3;*/
    background-color: #fdf6e3;
}

.col-sm-3 > img {
    max-height: 100%;
    max-width: 100%;
}

/* Typography */
.text-danger {
    color: #dc322f;
}

.text-warning {
    color: #b58900;
}

.text-success {
    color: #859900;
}

.text-info {
    color: #268bd2;
}

h2, .h2 {
    font-size: 24px;
}

/* Main block */
.main {
    bottom: 50px;
    display: flex;
    flex-flow: column nowrap;
    padding: 15px;
    position: absolute;
    top: 50px;
}

.main .edit-zone {
	flex: 1 1 0;
	overflow: hidden;
	display: flex;
	flex-flow: column nowrap;
}

.main .edit-zone > .nab-tabs {
    flex: 0 1 auto;
}

.main .edit-zone > .tab-content {
    display: block;
    max-height: 100%;
    flex: 1 1 0;
    overflow: scroll;
}

.main .edit-zone > .tab-content + .btn-toolbar {
    margin-top: 20px;
    flex: 0 1 auto;
}

.main .edit-zone > .tab-content > .tab-pane {
    height: 100%;
}

.inline {
    display: inline;
}

/** Myst **/
.myst {
    background-color: #666666;
    background-color: rgba(0, 0, 0, 0.3);
    display: table;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.myst .fa.fa-spin.fa-refresh {
    color: #cb4b16;
    display: table-cell;
    font-size: 80px;
    vertical-align: middle;
}

/** Country Flags **/
.flag > img {
    height: 16px;
    width: 24px;
    position: relative;
    top: -2px;
}

.flag + span,
span + .flag {
    margin-left: 8px;
}

/** Buttons **/
.btn.btn-flat {
    background-color: transparent;
    border: 0 none transparent;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
    vertical-align: baseline;
}

/** Dropdown **/
.form-inline .form-group .dropdown {
    display: inline-block;
}

.dropdown .btn-group {
    width: 100%;
}

.dropdown .btn-group .btn + .btn {
    width: 26px;
    float: right;
}

.dropdown .btn-group .btn:first-child:not(:last-child) {
    width: calc(100% - 25px);
    text-align: left;
    overflow: hidden;
}

.dropdown .btn-default {
    background-color: #fff;
}

.dropdown .dropdown-toggle {
    background-color: #073642;
    color: #fdf6e3;
}

/** Dropdown Menus **/
.dropdown-menu {
    background-color: #eee8d5;
    border-color: #93a1a1;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.dropdown-menu a:focus,
.dropdown-menu a:active,
.dropdown-menu a:hover {
    background-color: #93a1a1;
    color: #fdf6e3;
}

.dropdown-menu > li > a {
    color: #586e75;
    font-weight: 300;
}

.dropdown-menu > li > a:hover {
    background-color: #6c71c4;
    background-color: rgba(108, 113, 196, 0.5);
    color: #fdf6e3;
}

.dropdown-menu .active > a:hover,
.dropdown-menu .active > a {
    background-color: #6c71c4;
    color: #fdf6e3;
}

.dropdown-menu .divider {
    border-top: 1px solid #93a1a1;
}

/** Nav Bar **/
.navbar-inverse .navbar-nav > li a:hover,
.navbar-inverse .navbar-nav > li a:focus {
    color: #fdf6e3;
}

.navbar-nav > li > a.inline {
    display: inline-block;
}

.navbar-fixed-top + .container,
.navbar-fixed-top + .container-fluid {
    margin-top: 50px;
    margin-bottom: 50px;
}

.navbar-inverse {
    background-color: #073642;
    border: 0 none transparent;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
}

.navbar-inverse .navbar-brand {
    color: #268bd2;
    font-family: "Baloo", sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #839496;
}

.navbar-inverse .navbar-nav > li.active > a {
    color: #fdf6e3;
}

footer.navbar .navbar-nav > li > a:first-child:last-child {
    padding-left: 15px;
    padding-right: 15px;
}

footer.navbar .navbar-nav > li > a:first-child {
    padding-right: 0;
}

footer.navbar .navbar-nav > li > a:last-child {
    padding-left: 0;
}

footer.navbar .navbar-nav > li > a + span {
    padding-left: 4px;
    padding-right: 4px;
}

@media (max-width: 767px) {
    .navbar-fixed-bottom {
        position: relative;
    }
    footer.navbar .navbar-nav {
        margin: 0;
    }
    footer.navbar .navbar-nav > li > a {
        font-size: 12px;
        padding: 0;
    }
    footer.navbar .navbar-nav > li > a:first-child:last-child {
        padding-left: 0;
        padding-right: 0;
    }
}

/** Sidebar **/
.sidebar {
    background-color: #eee8d5;
    display: block;
    left: 0;
    top: 50px;
    bottom: 50px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
}

.sidebar .nav-pills > li > a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

/** Page Header **/
.page-header {
    color: #dc322f;
    border-bottom: 2px solid #dc322f;
    margin: 15px 0;
    font-size: 30px;
}

.page-header small {
    color: #2aa198;
    font-weight: normal;
    margin-left: 10px;
    font-size: 60%;
    font-style: italic;
}

/** Breadcrumb **/
.breadcrumb {
    background-color: transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
    margin-bottom: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
}

.breadcrumb .dropdown .btn-breadcrumb,
.breadcrumb a {
    color: #b58900;
    background-color: transparent;
    font-weight: 300;
    font-size: 16px;
    padding: 0;
    vertical-align: baseline;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.breadcrumb .dropdown .btn-breadcrumb:active {
    box-shadow: 0 0 0 transparent;
}

.breadcrumb .dropdown .btn-breadcrumb:hover {
    text-decoration: underline;
}

.breadcrumb .dropdown {
    display: inline-block;
}

.breadcrumb .dropdown .btn-breadcrumb .caret {
    margin-left: 5px;
}

.breadcrumb > li + li::before {
    color: #b58900;
    content: "/";
    padding: 0 5px;
}

/** Nav Tabs **/
.nav-tabs {
    border-bottom: 0 none transparent;
}

.nav-tabs > li {
    margin-bottom: -2px;
}

.nav-tabs > li > a {
    color: #6c71c4;
    color: rgba(108, 113, 196, 0.75);
    border: 2px solid transparent;
    border-bottom: 0 none transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border-color: #6c71c4;
    background-color: #6c71c4;
    color: #fdf6e3;
}

.nav-tabs > li:not(.active) > a:hover {
    background-color: #6c71c4;
    background-color: rgba(108, 113, 196, 0.5);
    border-left: 2px solid #6c71c4;
    border-right: 2px solid #6c71c4;
    border-top: 2px solid #6c71c4;
    border-bottom: 0 none transparent;
    color: #fdf6e3;
    /*padding: 11px 16px 9px;*/
}

.tab-pane {
    border: 2px solid #6c71c4;
    padding: 15px 20px;
    -moz-border-radius: 0 8px 0 0;
    -webkit-border-radius: 0 8px 0 0;
    border-radius: 0 8px 0 0;
    background-color: #eee8d5;
}

.nav.nav-tabs.nav-stacked {
    width: 160px;
}

.nav.nav-tabs.nav-stacked-right {
    /*position: absolute;
    right: 0;*/
    float: right;
    height: 100%;
    overflow: hidden;
}

.nav.nav-tabs.nav-stacked-right > li {
    margin-bottom: 0;
}

.nav.nav-tabs.nav-stacked-right > li > a {
    margin-right: 0;
    margin-bottom: 2px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border: 2px solid transparent;
    color: #93a1a1;
}

.nav.nav-tabs.nav-stacked-right > li.active > a {
    background-color: #93a1a1;
    color: #fdf6e3;
}

.nav.nav-tabs.nav-stacked-right > li > a:hover,
.nav.nav-tabs.nav-stacked-right > li > a:focus {
    border-left: 2px solid transparent;
    border-right: 2px solid #93a1a1;
    border-top: 2px solid #93a1a1;
    border-bottom: 2px solid #93a1a1;
}

.nav.nav-tabs.nav-stacked-right > li:not(.active) > a:hover {
    background-color: #93a1a1;
    background-color: rgba(147,161,161,0.5);
}

.nav.nav-tabs.nav-stacked + .tab-content {
    width: calc(100% - 158px);
    height: 100%;
}

.nav.nav-tabs.nav-stacked + .tab-content > .tab-pane {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 5px 0 0 5px;
    border-color: #93a1a1;
    height: 100%;
    overflow: auto;
}

/** Nav Pills **/
.nav-pills > li > a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #6c71c4;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #6c71c4;
    color: #fdf6e3;
    font-weight: normal;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    background-color: #6c71c4;
    background-color: rgba(108, 113, 196, 0.5);
    color: #fdf6e3;
    text-decoration: none;
}

/** Labels **/
.label {
    font-weight: normal;
}

.label-list {
    margin-bottom: 20px;
}

.label-list .label + .label {
    margin-left: 4px;
}

.label-info {
    background-color: #268bd2;
}

.label-success {
    background-color: #859900;
}

.label-warning {
    background-color: #b58900;
}

.label-danger {
    background-color: #dc322f;
}

/** Forms **/
.form-horizontal .form-group:last-child {
    margin-bottom: 0;
}

.input-group > .dropdown:last-child > .btn,
.input-group > .dropdown:last-child > .btn-group > .btn,
.input-group > .dropdown:last-child > .dropdown-toggle,
.input-group > .dropdown:first-child > .btn:not(:first-child),
.input-group > .dropdown:first-child > .btn-group:not(:first-child) > .btn {
    -moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group[lang] .flag {
    width: 24px;
    height: 16px;
}

.help-block {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-top: 2px;
}

.container-checkbox {
    padding-top: 23px;
}

/** Panels **/
.panel {
    border-width: 2px;
}

.panel > .panel-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.panel > .panel-body {
    font-family: 'Roboto Condensed', sans-serif;
}

.panel > .panel-body > p:last-child {
    margin-bottom: 0;
}

.panel-default {
    background-color: #fdf6e3;
    border-color: #93a1a1;
}

.panel.panel-info {
    border-color: #268bd2;
    background-color: #D2E7F8;
    background-color: rgba(38,139,226, 0.2);
}

.panel.panel-info > .panel-heading {
    background-color: #268bd2;
    color: #fdf6e3;
}

/** Modals **/
.modal-full {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: auto;
	margin: 0;
}

.modal-full .modal-content {
    position: relative;
    height: calc(100% - 2px);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: 1px solid #268bd2;
    background-color: #fdf6e3;
}

.modal-full .modal-header {
    background-color: #268bd2;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid #268bd2;
    height: 57px;
}

.modal-full .modal-body {
    height: calc(100% - 57px);
    padding: 0;
}

.modal-content {
	border: 1px solid #cb4b16;
}

.modal-header {
	background-color: #cb4b16;
	color: #fdf6e3;
	border-radius: 6px 6px 0 0;
	border-bottom: 1px solid #cb4b16;
}

.modal-header .close {
	color: #fdf6e3;
}

.modal-lg .modal-body {
    min-height: 180px;
}

.modal .modal-body aside {
	background-color: #eee8d5;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
	position: absolute;
	bottom: 0;
	top: 0;
}

.modal-footer {
	border-top: 1px solid #cb4b16;
	background-color: #c9c0bd;
    border-radius: 0 0 6px 6px;
}

.modal-footer .btn-link {
    color: #fdf6e3;
}

.modal-footer .lang-selector {
    float: left;
    margin-bottom: 0;
}

/** Tables **/
.table-container {
    flex: 1 1 0;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
}

.table-container + .btn-toolbar {
    margin-top: 20px;
    flex: 0 1 auto;
}

.table:last-child {
    margin-bottom: 0;
}

.table-bordered {
    border-color: #859900;
    border-width: 2px;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 0 none transparent;
}

.table-bordered tr + tr th,
.table-bordered tr + tr td {
    border-top: 1px solid #586e75;
}

.table-bordered > thead > tr > th + td,
.table-bordered > thead > tr > td + td,
.table-bordered > thead > tr > th + th,
.table-bordered > thead > tr > td + th,
.table-bordered > tbody > tr > th + td,
.table-bordered > tbody > tr > td + td,
.table-bordered > tbody > tr > th + th,
.table-bordered > tbody > tr > td + th,
.table-bordered > tfoot > tr > th + td,
.table-bordered > tfoot > tr > td + td,
.table-bordered > tfoot > tr > th + th,
.table-bordered > tfoot > tr > td + th {
    border-left: 1px solid #586e75;
}

.table .btn-order {
    background-color: transparent;
}

.table-bordered > thead > tr > th {
    border-bottom: 2px solid #cb4b16;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #fdf6e3;
}

.table-striped > tbody > tr:nth-of-type(2n+2) {
  background-color: #eee8d5;
}

.table-hover > tbody > tr.table-empty-row {
    font-family: 'Roboto Condensed', sans-serif;
}

.table-hover > tbody > tr:hover:not(.table-empty-row) {
  background-color: #93a1a1;
  color: #fdf6e3;
}

.table > thead > tr > th {
    background-color: #859900;
    color: #fdf6e3;
    font-weight: normal;
    vertical-align: top;
}

.table-scrolled {
    display: block;
    max-height: 100%;
}

.table-scrolled > thead {
    display: block;
    height: 34px;
    overflow: hidden;
}

.table-scrolled > tbody {
    display: block;
    overflow: scroll;
    max-height: calc(100% - 34px);
}

.table-bordered tr + tr td {
    border-top-width: 1px;
}

.edit-zone > .table-container {
    overflow: hidden;
    display: inherit;
    max-height: 100%;
}

.edit-zone > .table-container > .table-scrolled {
    max-height: calc(100% - 55px);
    display: block;
}

.edit-zone > .table-container > .table-scrolled tbody {
    max-height: calc(100% - 34px);
}

.table-controls {
    margin-bottom: 20px;
}

.table-controls .table-columns-selector {
    float: right;
}

.table-controls .table-columns-selector .btn-columns {
    background-color: #cb4b16;
    color: #fff;
}

.table-controls .table-columns-selector .dropdown-menu {
    left: auto;
    right: 0;
}

.table-toolbar {
    margin-left: 0;
    margin-bottom: 15px;
    padding: 5px 10px;
    background-color: #586e75;
}

.table-toolbar > .btn-group:first-child:not(.pull-right),
.table-toolbar > .btn-group.pull-right + .btn-group:not(.pull-right) {
    margin-left: 0;
}

.table-toolbar .table-columns-selector .btn-columns {
    background-color: #268bd2;
    color: #fdf6e3;
}

.table-toolbar .table-columns-selector .btn-columns + .btn-columns {
    border-left-color: #586e75;
}

.table-toolbar .table-search input[type="search"] {
    -moz-border-radius: 15px 0 0 15px;
    -webkit-border-radius: 0 0 15px 15px;
    border-radius: 15px 0 0 15px;
    border-color: #cb4b16;
}

.table-toolbar .table-search .btn-search {
    -moz-border-radius: 0 15px 15px 0;
    -webkit-border-radius: 15px 15px 0 0;
    border-radius: 0 15px 15px 0;
    background-color: #cb4b16;
    border-color: #cb4b16;
    color: #fdf6e3;
}

.table .col-selectable {
    width: 25px;
}

.table .col-selectable input[type="checkbox"] {
    height: 20px;
    margin-top: 0;
    vertical-align: text-top;
    width: 20px;
}

.table .btn-edit-line {
    cursor: pointer;
}

.table-striped > tbody > .editing:nth-of-type(2n+1),
.table-striped > tbody > .editing:nth-of-type(2n+2),
.table > tbody .editing,
.table > tbody .editing:hover {
    background-color: #586e75;
    color: #fdf6e3;
}

.table > tbody > tr > td[data-name="id"],
.table > tbody > tr > td[data-name$="_id"],
.table > tbody > tr > td[data-name="level"] {
    min-width: 60px;
    white-space: nowrap;
    width: 1%;
}

/** Lists **/
.list-messages .text-danger::before,
.list-messages .text-warning::before,
.list-messages .text-success::before,
.list-messages .text-info::before {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: inherit;
    font-stretch: normal;
	text-rendering: auto;
	-moz-osx-font-smoothing: grayscale;
    position: relative;
    width: 24px;
    display: inline-block;
}

.list-messages .text-danger::before {
	content: "\f057";
}

.list-messages .text-warning::before {
	content: "\f06a";
}

.list-messages .text-success::before {
    content: "\f058";
}

.list-messages .text-info::before {
    content: "\f05a";
}

.list-messages > dd {
    margin-left: 24px;
    font-family: 'Roboto Condensed', sans-serif;
}

.list-messages > dd > .list-inline {
    visibility: hidden;
    font-family: 'Droid Sans', sans-serif;
    margin: 0;
}

.list-messages > dt:hover + dd > .list-inline {
    visibility: visible;
}

.list-messages > dd:hover > .list-inline {
    visibility: visible;
}

.list-messages > dd > .list-inline > li:first-child {
    padding-left: 0;
}

.list-messages > dd > .list-inline > li + li {
    margin-left: 10px;
}

.list-messages > dd > .list-inline a {
	color: #6c71c4;
	font-size: 14px;
    padding: 0;
}

/** Trees **/
.tree-container {
    flex: 1 1 0;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
}

.tree-container + .btn-toolbar {
    margin-top: 20px;
    flex: 0 1 auto;
}

.tree {
    background-color: #fdf6e3;
    padding: 15px 20px;
    background-color:
}

.tree:last-child {
    margin-bottom: 0;
}

.tree-bordered {
    border: 2px solid #859900;
}

.tree-scrolled {
    display: block;
    max-height: 100%;
    overflow: auto;
}

.tree .btn-edit-line {
    cursor: pointer;
}

.edit-zone > .tree-container {
    overflow: hidden;
    display: inherit;
    max-height: 100%;
}

.edit-zone > .tree-container > .tree-scrolled {
    max-height: calc(100% - 55px);
    display: block;
}

.tree-controls {
    margin-bottom: 20px;
}

.tree-toolbar {
    margin-left: 0;
    margin-bottom: 15px;
    padding: 5px 10px;
    background-color: #586e75;
}

.tree-toolbar > .btn-group:first-child:not(.pull-right),
.tree-toolbar > .btn-group.pull-right + .btn-group:not(.pull-right) {
    margin-left: 0;
}

.tree-toolbar .tree-search input[type="search"] {
    -moz-border-radius: 15px 0 0 15px;
    -webkit-border-radius: 0 0 15px 15px;
    border-radius: 15px 0 0 15px;
    border-color: #cb4b16;
}

.tree-toolbar .tree-search .btn-search {
    -moz-border-radius: 0 15px 15px 0;
    -webkit-border-radius: 15px 15px 0 0;
    border-radius: 0 15px 15px 0;
    background-color: #cb4b16;
    border-color: #cb4b16;
    color: #fdf6e3;
}

.tree .tree-level {
    list-style: outside none none;
    margin-left: 30px;
    padding-left: 0;
}

.tree > .tree-level {
    margin-left: 0;
}

.tree .tree-level .tree-item {
    position: relative;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    background-color: #eee8d5;
}

.tree .tree-level .tree-item:hover {
    background-color: #93a1a1;
}

.tree .tree-level .active > .tree-item {
    background-color: #586e75;
    color: #fff;
}

.tree .tree-level .tree-item > .btn-toolbar {
    background-color: #fdf6e3;
    background-color: rgba(253,246,227, 0.75);
    margin: 0;
    padding: 0 0 10px 10px;
    position: absolute;
    right: 10px;
    top: 5px;
}

.tree .tree-level .tree-item > .btn-toolbar .btn + .btn {
    margin-left: 10px;
}

.tree .tree-level .active > .tree-item > .btn-toolbar {
    background-color: #6c71c4;
    color: #fff;
}

.tree .tree-level .tree-item .flag {
  float: left;
}

.tree .tree-level .tree-item .text {
  margin-left: 35px;
}

.tree .tree-level > li > .tree-level {
    display: none;
    margin-top: 5px;
}

.tree .tree-level > li + li {
    margin-top: 5px;
}

.tree .tree-level .tree-item.expanded > .btn-toolbar > .btn.btn-expand > .fa-minus-square-o {
    display: inline-block;
}

.tree .tree-level .tree-item:not(.expanded) > .btn-toolbar > .btn.btn-expand > .fa-minus-square-o {
    display: none;
}

.tree .tree-level .tree-item.expanded > .btn-toolbar > .btn.btn-expand > .fa-plus-square-o {
    display: none;
}

.tree .tree-level .tree-item:not(.expanded) > .btn-toolbar > .btn.btn-expand > .fa-max-square-o {
    display: inline-block;;
}

.tree-level > li.expanded > .tree-level {
    display: block;
}

.tree-level > li > a {
    display: inline-block;
    margin-left: 15px;
    padding: 1px 4px;
}

.tree-level > li.active > a {
    background-color: #6c71c4;
    color: #fdf6e3;
}

.tree-level > li.active > a:hover,
.tree-level > li.active > a:focus {
    text-decoration: none;
}

.tree + div {
    padding-right: 0;
    height: 100%;
}

/** Edit container **/
.edit-container {
    height: 100%;
    overflow: auto;
}

.edit-container .tab-pane {
    position: relative;
    background-color: #fdf6e3;
}

.edit-container .btn-toolbar {
    border-top: 2px solid #93a1a1;
    height: 56px;
    margin: 20px -20px 0 -20px;
    width: calc(100% + 40px);
    padding: 10px 20px;
}

.edit-container .btn-toolbar > .btn:first-child,
.edit-container .btn-toolbar > .btn-group:first-child,
.edit-container .btn-toolbar > .input-group:first-child {
    margin-left: 0;
}

.edit-container fieldset:first-child {
    margin-top: -15px;
}

.edit-container fieldset + fieldset {
    margin-top: 20px;
}
.edit-container legend {
    background-color: #6c71c4;
    color: #fdf6e3;  font-size: 16px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
    width: calc(100% + 40px);
}

/* Language Selector */
.lang-selector {
    margin-bottom: 15px;
}

.lang-selector .list-inline {
    margin-bottom: 0;
}

/* Boxes */
.box-grid > .row {
    height: 300px;
}

.box-grid > .row > .col {
    height: 100%;
}

.box {
    border-width: 2px;
    border-style: solid;
    background-color: #fdf6e3;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.modal-open .box.maximized {
  bottom: 20px;
  height: calc(100% - 40px);
  left: 20px;
  overflow: scroll;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 2000;
}

.box > .box-heading {
    margin: 0;
    padding: 5px 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    flex: 0 0 auto;
}

.box > .box-heading > .btn-toolbar .btn {
    background-color: transparent;
    color: #fdf6e3;
}

.box > .box-heading > .btn-toolbar .btn:hover {
    color: #2aa198;
}

.box > .box-body {
    padding: 5px 10px;
    flex: 1 1 auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.box > .box-footer {
    padding: 5px 10px;
    flex: 0 0 auto;
    border-top: 2px solid;
}

.box-info {
    border-color: #268bd2;
}

.box-info > .box-heading {
	background-color: #268bd2;
	color: #fdf6e3;
}

.box-default {
    border-color: #586e75;
}

.box-default > .box-heading {
    background-color: #586e75;
    color: #fdf6e3;
}

.box-default > .box-footer {
    border-top-color: #586e75;
    background-color: #eee8d5;
}

/* Toolbars */
.btn-toolbar-inverse {
	background-color: #586e75;
}

/* Split Pane */
.split-panels {
    position: relative;
	display: flex;
	flex-flow: row;
    height: 100%;
    width: 100%;
}

.split-content {
	flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

.split-separator {
	width: 20px;
	cursor: col-resize;
    background-color: transparent;
}

.split-separator:hover {
    background-color: #eee;
	background-color: rgba(0,0,0,0.1);
}

.split-separator > .split-separator-inner {
	display: block;
	height: 100%;
	width: 0;
	border-left: 1px solid #586e75;
	border-right: 1px solid #fdf6e3;
	margin-left: 9px;
}

.split-content > .table-container {
    overflow: hidden;
}

.split-content > .table-container > .table-toolbar {
    flex: 0 0 40px;
}

.split-content > .table-container > .table {
    flex: 1 1 0;
    overflow: hidden;
    margin: 0;
}

.split-content > .table-container > .table .edited {
    margin-top: 3px;
}

.split-content > .table-container > .table-pager {
    flex: 0 0 34px;
    margin-top: 15px;
}

.split-content > .table-container > .table-pager > nav {
    height: 34px;
}

.split-content > .table-container > .table-pager .pagination {
    margin-bottom: 0;
    margin-top: 0;
    height: 34px;
}

.split-content > div[id] {
    height: 100%;
    overflow: hidden;
}

/* ACE Editor */
pre.ace_editor {
     margin: 0;
}

.input-group .ace_editor:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group .ace_editor:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* CK Editor */
.cke {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.cke .cke_inner {
    overflow: hidden;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.input-group .cke:not(:last-child) {
	border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-group .cke:not(:last-child) .cke_inner {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
