<IfModule rewrite_module>
    RewriteEngine On

#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{HTTP:X-FORWARDED-FOR} !="::1"
#    RewriteRule ^nabu.php$ [FL]

#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{HTTP:X-FORWARDED-FOR} ="::1"
#    RewriteRule ^nabu.php$ [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^index\.html$ /nabu3-cms.php?__x_nb_path=/&%{QUERY_STRING} [L,P]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^index\.php$ /nabu3-cms.php?__x_nb_path=/&%{QUERY_STRING} [L,P]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /nabu3-cms.php?__x_nb_path=/$1&%{QUERY_STRING} [L,P]
</IfModule>

